# Compiled Object files
*.slo
*.lo
*.o
*.out
*.exe

# Compiled Dynamic libraries
*.so
*.dylib
# Compiled Static libraries
*.lai
*.la
*.a

#Useless Mac OS stuff
.DS_Store
src/assembler/debug.cpp
/test.cpp~
